// ### Primary

$cyan: hsl(179, 62%, 43%);
$light-cyan: hsl(179, 50%, 50%);
$dark-cyan: hsl(179, 80%, 30%);
$bright-yellow: hsl(71, 73%, 54%);

// ### Neutral

$light-gray: hsl(204, 43%, 93%);
$grayis-blue: hsl(218, 22%, 67%);
