@import "../../styles/colors";

#join-container {
  background-color: white;
  padding: 1rem;

  h1 {
    color: $cyan;
    margin-bottom: 1rem;
  }

  p {
    color: $grayis-blue;
    margin-bottom: 4px;
  }

  p:nth-child(2) {
    color: $bright-yellow;
    font-weight: 700;
    margin-bottom: 8px;
  }
}
